body {
    background-image: url("friends.jpeg");
    background-color: #cccccc;
    background-attachment: fixed;
   }

i {
    padding: 10px;
}

.jumbotron, .title {
    background-color: #035981;
    color: lightgray;
    padding: 20px;
    text-shadow: -2px 1px #222222;
}

h3, h5 {
    padding: 10px;
    color: white;
    text-shadow: -2px 1px #222222;
}

hr {
    color: rgb(154, 164, 175);
}

#survey {
    background-color: rgb(154, 164, 175, .5);
}

a {
    color: lightblue;
    text-shadow: -2px 1px #222222;
}

.modal-title {
    color: black;
}

